<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>   
        <property name="show_sql">false</property>
        <mapping resource="persistence/Account.hbm.xml" />
        <mapping resource="persistence/Menu.hbm.xml" />
        <mapping resource="persistence/Options.hbm.xml" />
        <mapping resource="persistence/Profile.hbm.xml" />
        <mapping resource="persistence/Users.hbm.xml" />
        <mapping resource="persistence/Courses.hbm.xml" />
        <mapping resource="persistence/Vprofile.hbm.xml" />
        <mapping resource="persistence/Identification.hbm.xml" />
        <mapping resource="persistence/Trainer.hbm.xml" />
        <mapping resource="persistence/Job.hbm.xml" />
        <mapping resource="persistence/Pais.hbm.xml" />
        <mapping resource="persistence/Experience.hbm.xml" />
        <mapping resource="persistence/Academiclevel.hbm.xml" />
        <mapping resource="persistence/Estado.hbm.xml" />
        <mapping resource="persistence/Place.hbm.xml" />
        <mapping resource="persistence/Autorization.hbm.xml" />
        <mapping resource="persistence/Autorizationtype.hbm.xml" />   
        <mapping resource="persistence/Category.hbm.xml" />
        <mapping resource="persistence/Level.hbm.xml" />
        <mapping resource="persistence/UsuariosCategorias.hbm.xml" />
        
    </session-factory>
</hibernate-configuration>
