<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">adminadmin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/liderbs_virfit</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">liderbs_virfit</property>
        <mapping resource="persistence/Menu.hbm.xml" />
        <mapping resource="persistence/MenuHasOptions.hbm.xml" />
        <mapping resource="persistence/Options.hbm.xml" />
        <mapping resource="persistence/Profile.hbm.xml" />
        <mapping resource="persistence/Users.hbm.xml" />
        
    </session-factory>
</hibernate-configuration>
